<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
		<title>Home Page</title>
	</head>
	<body class="bg-dark text-white">
			{% include 'includes/alert.html' %}
			<div class="row justify-content-center">
				{% for gadget in gadgets %}
				<div class="col-md-6 col-lg-4 form-container p-4 mt-5 me-1">
					<div class="row">
						<div class="col-3 w-50">
							<img
								src="{{ url_for('static', filename=gadget[5]) }}"
								alt=""
								width=""
								class="img-fluid"
							/>
						</div>
						<div class="col">
							<h4 class="fw-light">Book Name :<span class="mx-3 fw-bold text-">{{ gadget[2] }}</span> </h4>
							<h4 class="fw-light"> Book Description :<span class="mx-3 fw-bold">{{gadget[3]}}</span> </h4>
							<h4 class="fw-light">Book Price : <span class="mx-3 fw-bold">{{gadget[4]}}</span></h4>
							<a class="btn btn-warning float-end" href="{{ url_for('getBook', gadget_id=gadget[0]) }}">View</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/close-all-alerts.js') }}"></script>
	</body>
</html>
